global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'medisecure-api'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['medisecure-api:8000']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'redis-exporter'
    static_configs:
      - targets: ['redis-exporter:9121']

  - job_name: 'rabbitmq-exporter'
    static_configs:
      - targets: ['rabbitmq-exporter:9419']

  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187']

rule_files:
  - 'alert.rules.yml'
